* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: midnightblue;
    text-align: center;
}

footer {
    margin-top: 820px;
}

h1 {
    color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    background-color: blueviolet;
    font-size: 35px;
}

h2 {
    color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    background-color: blueviolet;
    font-size: 35px;
}

div {
    margin: 30px;
}

a{
    color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    background-color: blueviolet;
    font-size: 35px;
    text-decoration: none;
    
}

a:hover  {
   color: red;
}